.footer {
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto */
    padding: 20px; /* Espaciado interior del pie de página */
  }
  
  .footer ul {
    list-style: none; /* Quita los estilos de la lista */
    padding: 0; /* Quita el relleno de la lista */
    margin: 0; /* Quita los márgenes de la lista */
  }
  
  .footer ul li {
    display: inline; /* Muestra los elementos de la lista en línea */
    margin-right: 20px; /* Espaciado entre los elementos de la lista */
  }
  
  .footer ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento de la lista */
  }
  
  .footer ul li a {
    color: #fff; /* Color del enlace */
    text-decoration: none; /* Quita la subrayado del enlace */
  }
  
  .footer ul li a:hover {
    text-decoration: underline; /* Añade subrayado al pasar el ratón por encima del enlace */
  }
  
  .footer p {
    margin-top: 10px; /* Espaciado superior del párrafo */
    font-size: 14px; /* Tamaño de fuente del párrafo */
  }
  